<form action="/registration.php" method="post" class="first-form">
  <div>
    <label>eMail:</label>
    <input type="email" name="email" required>
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="password" required minlength="8">
  </div>
  <div>
    <label>Newsletter Subscription:</label>
    <input type="checkbox" name="newsletter" required>
  </div>
  <div>
    <input type="submit">
  </div>
</form>

<!-- Introduciamo Javascript, creiamo una nuova componente -->
